@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

/* body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

.seatContainer {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444451;
    height: 32px;
    width: 35px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: red;
}

/* .seat:nth-of-type(3) {
    margin-right: 18px;
}

.seat:nth-last-of-type(3) {
    margin-left: 18px;
} */

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    padding-top: 50px;
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    /* justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between; */
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.seatRow {
    color:#FFFFFF;
    display: flex;
    margin-left: 50px;
    margin-left: 5;
}

/* .screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
} */

p.text {
    margin-top: 30px;
    margin: 5px 0;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

p.text span {
    color: #6feaf6;
}

.backgroundCard {
    position: relative;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding-bottom: 100px;
    /* padding: 30px;
    margin: 250px; */
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .backgroundCard {
        width: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        /* width: 100%; */
    
    }
}
@media (min-width: 375px) {
    .p.text {
        margin-left: 50px;
    
    }
}

@media (min-width: 768px) {
    .containerSignIn {
        width: 418px;
    }
}

@media (min-width: 992px) {
    .containerSignIn {
        width: 642px;
    }
}

@media (min-width: 1200px) {
    .containerSignIn {
        width: 750px;
        height: 520px;
    }
}

.selectBtn {
    background-color: #00d8ff;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 170px;
}

.selectBtn:hover,
.selectBtn:focus {
    background-color: #0c6f81;
}