body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: #3786CE;
}

* {
    box-sizing: border-box;
}

.LoginTitle {
    color: black !important;
    font-size: 40px !important;
}

.glink {
    margin-left: 200px;
    margin-top: 0px;
}



/* style inputs and link buttons */
input,
.btn {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}

* {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../../assets/images/home/banner.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3b5998;
    color: white;
}



@media (min-width: 1000px) {
    img {
        align-items: center !important;
        margin-left: 70px  !important;
        margin-right: 100px !important;
    }
}
@media (min-width: 375px) {
    img {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

a.google.btn {
    margin-top: 58px;
}


p.links {
    font-family: 'Poppins', sans-serif;
    color: #565a5c;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 17px;
    margin-right: 100px;
}

.twitter {
    background-color: #55acee;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

/* style the submit button */
input[type="button"] {
    background-color: #00d8ff;
    color: white;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #138599;

}

.row {
    display: flex;
    width: 85%;
    padding-left: 40px;
}

/* Two-column layout */
.col {
    /* float: left; */
    width: 100% !important;
    margin: auto;
    /* padding: 0 50px; */
    /* padding-top: 50px; */
    position: 100% !important;
    /* padding-left: 250px; */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input#email {
    border: 1px solid rgb(120, 120, 120);
    font-family: 'Poppins', sans-serif;
}

input#password {
    border: 1px solid rgb(120, 120, 120);
    font-family: 'Poppins', sans-serif;
}

input#repeatPassword {
    border: 1px solid rgb(120, 120, 120);
    font-family: 'Poppins', sans-serif;
}




/* hide some text on medium and large screens */
.hide-md-lg {
    display: none;
}

.LoginForm {
    position: relative;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding-bottom: 100px;
    /* padding: 30px;
    margin: 250px; */
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 375px) {
    .LoginForm {
        margin-top: 200px;
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .LoginForm {
        padding-bottom: 300px;
        width: 750px;
    }
}

.Warning {
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .containerSignIn {
        width: 418px;
    }
}

@media (min-width: 992px) {
    .containerSignIn {
        width: 642px;
    }
}

@media (min-width: 1200px) {
    .containerSignIn {
        width: 750px;
        height: 520px;
    }
}

/* bottom container */
.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }

    /* hide the vertical line
    .vl {
      display: none;
    } */

    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }


    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        background: #f1f1f1;
        background-color: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -35px;
        font-size: 12px !important;
        content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
        font-size: 12px !important;
    }

    .invalid:before {
        position: relative;
        left: -35px;
        font-size: 12px !important;
        content: "✖";
    }




}